# Virtual environment
venv/
env/
env_rec/
env_rec/
*.secret
*.env
.env
.env.exit
.env.local
/.env
# Allow the template file to be committed
!.env.example

# ignore .md files
*.md

# Byte-compiled / Cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/
debug.log

# # Database files 
*.sqlite3
db.sqlite3
db.sqlite3-journal

# Media and static files
media/
staticfiles/


# Ignore Django migrations cache (optional)
**/migrations/__pycache__/



# Environment and configuration files
# .env
*.secret
config.json

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore Docker files (if using Docker)
*.pid
*.sock

# users reference
*users

# Ignore complementary files
TODO
.env.local

token.txt

# ignore .txt files except requirements.txt
*.txt
!requirements.txtML/data/raw_scraped/*.parquet
